*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 365px;
  font: 400 12px/16px 'Roboto', sans-serif;
  color: #5C5C5C;
}
a{
  text-decoration: none;
  color: inherit;
	background-color: transparent;
}
ul{
  list-style-type: none;
}
h2{
  font: 700 16px/19px 'Roboto', sans-serif;
  color: #000;
}
button{
	outline: 0;
	border: 0;
	color: inherit;
	background-color: transparent;
}
section{
  background: #EAEAEA;
  padding: 30px 30px;
  min-height: 100vh;
}
.green{
  background: #448B00;
}
.yellow{
  background: #D89E24;
}
.blue{
  background: #274D97;
}
.red{
  background: #C32056;
}
.white{
  background: #F6F6F6;
  margin: 20px 0;
  padding: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.transform{
  transform: translate(0,-35px);
}
span{
  font: 400 20px/23px 'Roboto';
}
.title{
  display: none;
}
svg{
  margin-right: 10px;
}
/* Side menu */
.underline-link{
  display: flex;
	align-items: center;
	gap: 10px;
  color: #808080;
}
.underline{
  border-bottom: 1px solid #808080;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.menu-link{
  display: flex;
  align-items: center;
  padding: 15px;
}
.menu-link:hover{
  color: white;
  background: rgb(174, 38, 91);
}
.menu-link svg{
  fill: gray;
}
.menu-link:hover svg{
  fill: #fff;
}
/* Гамбургер меню */
.main-menu{
  position: relative;
  display: flex;
  gap: 10px;
  background: #EAEAEA;
}
.main-icon{
  width: 40px;
  height: 30px;
}
.icon{
  width: 40px;
  height: 30px;
}
.logo{
  display: none;
}
.burger{
  position: absolute;
  width: 40px;
  height: 30px;
  opacity: 0;
}
nav{
  overflow: hidden;
  height: 0;
  background: #F2F2F2;
}
.burger:checked ~ nav{
  position: absolute;
  top: 30px;
  left: 0;
  width: 305px;
  height: auto;
  z-index: 100;
}
.burger-label{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
/* Блок overview */
.overview{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.overview-box{
  position: relative;
  width: 100%;
}
.overview-icon{
  position: absolute;
  left: 15px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}
.overview-info{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}
/* Блок notification */
.notification{
	display: flex;
	flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}
.notification-box{
	width: 100%;
}
.notification-icon{
	width: 100%;
	padding: 20px 15px;
}
.notification-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font: 400 14px/16px 'Roboto', sans-serif;
}
.graphic-icon{
	width: 100%;
}
/* Блок reminder */
.reminder{
  width: 100%;
	display: flex;
	flex-wrap: wrap;
  gap: 20px;
}
.reminder-box{
	width: 100%;
}
.reminder-info-box{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.reminder-col{
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}
.remind{
  margin: 10%;
  padding: 10px;
}
.reminder-btn{
  display: flex;
  justify-content: end;
  gap: 30px;
}
.task,
.employee{
	display: flex;
	width: 100%;
}
.employee{
	flex-direction: column;
	gap: 3px;
  padding: 15px;
}
.employee-title{
  color: #fff;
  line-height: 24px;
}
.task-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 15px;
  color: #fff;
}
.task-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
  color: #fff;
}
.task-btn:hover{
  background: rgba(217, 217, 217, 0.3);
}
.task-img{
	margin-right: 5px;
}
.reminder-info-table{
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.75fr;
  grid-template-rows: repeat(5, 1fr);
}
.table-header{
	color: blue;
	padding: 10px;
	border-bottom: 1px solid #999;
}
.table-content{
	padding: 10px;
	border-bottom: 1px solid #999;
}
.table-footer{
	padding: 10px;
}
footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #5C5C5C;
  margin-top: 50px;
  padding: 10px;
}
.footer-info{
  display: flex;
  gap: 10px;
}
/* Page - User Profile */
.user-info{
  display: grid;
  gap: 20px;
  margin: 20px 0;
}
.founder{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 20px 0;
  background: #fff;
}
.photo{
  position: absolute;
  top: -30px;
  border-radius: 100px;
  margin-bottom: 20px;
}
.about-me{
  display: block;
  text-align: center;
  line-height: 17px;
  margin-top: 70px;
}
.ceo,
.ceo-name{
  margin-bottom: 15px;
}
.profile{
  width: 100%;
  margin-top: 20px; 
  padding: 15px;
}
.title-text{
  color: #fff;
}
.title-profile{
  width: 100%;
  padding: 15px;
  line-height: 24px;
}
.first-line{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
}
.second-line{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
}
.third-line{
  display: grid;
  margin-bottom: 20px;
}
.fourth-line{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
  margin-bottom: 20px;
}  
.fifth-line{
  display: grid;
}
label{
  display: inline-block;
  width: 100%;
}
.info{
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 0;
  background: transparent;
  border-bottom: 1px solid #5C5C5C;
}
.info:focus{
  outline: none;
}
textarea{
  width: 100%;
  padding: 0 10px;
  border: 0;
  border-bottom: 1px solid #5C5C5C;
  background: transparent;
}
textarea:focus{
  outline: none;
}
.update-btn{
  display: flex;
  justify-content: end;
  margin: 20px 0 0 0;
}
.update{
  text-transform: uppercase;
  padding: 10px 30px;
}
/* Адаптивка */
@media (min-width: 500px){
  .overview{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
  }
}
@media (min-width: 650px){
  .notification{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0;
  }
}
@media (min-width: 800px){
  section{
    display: grid;
    grid-template-columns: 170px 1fr;
    padding: 0;
  }
  .burger-menu{
    display: none;
  }
  .main-info{
    padding: 20px;
  }
  .main-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #F6F6F6;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.50)
  }
  nav{
    position: fixed;
    top: 70px;
    left: 15px;
    height: 100%;
    background: transparent;
  }
  ul{
    width: 140px;
  }
  .burger,
  .main-icon,
  .burger-label{
    display: none;
  }
  .logo{
    display: inline-block;
    padding: 20px 30px;
    border-bottom: 1px solid #000;
  }
  .title{
    display: block;
  }
}
@media (min-width: 1000px){
  .reminder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
  }
  .user-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 300px;
    gap: 15px;
  }
  .founder{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .profile{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}
@media (max-width: 420px){
  .first-line{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-bottom: 20px;
  }
  .fourth-line{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-bottom: 20px;
  }
  .update-btn{
    justify-content: center;
  }
}



