*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 365px;
  font: 400 14px/16px 'Roboto', sans-serif;
  color: #5C5C5C;
}
a{
  text-decoration: none;
  color: inherit;
	background-color: transparent;
}
ul{
  list-style-type: none;
}
h2,
h3{
  color: #000;
  padding: 10px;
}
button{
	outline: 0;
	border: 0;
	color: inherit;
	background-color: transparent;
}
section{
  background: rgb(200, 200, 200);
  padding: 30px 30px;
}
.green{
  background: green;
}
.yellow{
  background: rgb(199, 80, 6);
}
.blue{
  background: blue;
}
.red{
  background: red;
}
span{
  font: bold 20px/23px 'Roboto';
}
.title{
  opacity: 0;
}
/* Side menu */
.underline-link{
  display: flex;
	align-items: center;
	gap: 10px;
}
.underline{
  border-bottom: 1px solid #5C5C5C;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.menu-link{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 10px;
}
.menu-link:hover{
  color: white;
  background: rgb(174, 38, 91);
}
/* Гамбургер меню */
.burger-menu{
	position: relative;
  display: flex;
	align-items: center;
	gap: 10px;
}
.main-icon{
  width: 40px;
  height: 30px;
}
.icon{
  width: 40px;
  height: 30px;
}
.side-bar{
  display: none;
}
.burger{
  position: absolute;
  width: 40px;
  height: 30px;
  opacity: 0;
}
nav{
	position: absolute;
	display: flex;
	align-items: center;
	padding: 15px;
  transform: translate(0, 160px);
	background: rgb(220, 220, 220);
  border-radius: 0 10px 10px 10px;
  opacity: 0;
	transition: 0.3s;
}
input:checked ~ nav{
  opacity: 1;
	z-index: 100;
}
/* Блок overview */
.overview{
  display: flex;
  flex-wrap:wrap;
}
.overview-box{
  position: relative;
  width: 100%;
  margin: 20px 0;
  padding: 15px;
  background: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.overview-icon{
  position: absolute;
  left: 15px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}
.overview-info{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 5px;

}
/* Блок notification */
.notification{
	display: flex;
	flex-wrap: wrap;
}
.notification-box{
	width: 100%;
	margin: 20px 0;
	padding: 15px;
	background: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.notification-icon{
	width: 100%;
	padding: 20px 15px;
	transform: translate(0,-35px);
}
.notification-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.graphic-icon{
	width: 100%;
}
/* Блок reminder */
.reminder{
  width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.reminder-box{
	width: 100%;
	margin: 20px 0;
	padding: 15px;
	background: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.reminder-info-box{
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.reminder-col{
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: 10px;
}
.remind{
  margin: 10%;
  padding: 10px;
}
.reminder-btn{
  display: flex;
  justify-content: end;
  gap: 10px;
}
.task,
.employee{
	display: flex;
	width: 100%;
	transform: translate(0,-35px);
}
.task-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px 15px;
}
.task-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.task-btn:hover{
  background: rgba(242, 128, 57, 0.862);
}
.white{
  color: white;
}
.task-img{
	margin-right: 5px;
}
.employee{
	flex-direction: column;
	gap: 3px;
  padding: 15px;
}
.employee-title{
  color: white;
  /* line-height: 28px; */
}
.reminder-info-table{
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.75fr;
  grid-template-rows: repeat(5, 1fr);
}
.table-header{
	color: blue;
	padding: 10px;
	border-bottom: 1px solid #999;
}
.table-content{
	padding: 10px;
	border-bottom: 1px solid #999;
}
.table-footer{
	padding: 10px;
}
footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #5C5C5C;
  padding: 10px;
}
.footer-info{
  display: flex;
  gap: 10px;
}
/* Адаптивка */
@media (min-width: 500px){
  .overview{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 650px){
  .notification{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 800px){
  section{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 0;
  }
  .burger-menu{
    display: none;
  }
  .main-info{
    padding: 20px;
  }
  .main-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(220, 220, 220);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.50)
  }
  .side-bar{
    display: flex;
    flex-direction: column;
  }
  .logo{
    padding: 20px;
    border-bottom: 1px solid black;
  }
  .side-menu{
    padding: 10px;
  }
  .title{
    padding: 0 20px 20px 0;
    opacity: 1;
  }
}
@media (min-width: 1000px){
  .reminder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    
  }
}

.test{
width: 300px;

height: 300px;
background: red;
}



