*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
	background-color: transparent;
}
ul{
  list-style-type: none;
}
hr{
  margin: 10px 0;
}
button{
	outline: 0;
	border: 0;
	color: inherit;
	background-color: transparent;
}
section{
  background: rgb(200, 200, 200);
  padding: 30px 30px;
  /* min-width: 500px; */
}
.green{
  background: green;
}
.yellow{
  background: rgb(199, 80, 6);
}
.blue{
  background: blue;
}
.red{
  background: red;
}
.underline-link{
  display: flex;
	align-items: center;
	gap: 10px;
}
/* Гамбургер меню */
.burger-menu{
	position: relative;
	margin-bottom: 20px;
}
/* input{
  width: 40px;
  height: 30px;
} */
label{
	display: flex;
	align-items: center;
	gap: 10px;
}
.main-icon{
  width: 40px;
  height: 30px;
}
.icon{
  width: 40px;
  height: 30px;
}
.side-bar{
  display: none;
}
.burger{
  position: absolute;
  width: 40px;
  height: 30px;
  opacity: 0;
}
nav{
	position: absolute;
	display: flex;
	align-items: center;
	padding: 15px;
	background: rgb(220, 220, 220);
  opacity: 0;
	transition: 0.3s;
}
input:checked ~ nav{
  opacity: 1;
	z-index: 100;
}
/* Блок overview */
.overview{
  display: flex;
  flex-wrap:wrap;
  /* width: 100%; */
}
.overview-box{
  position: relative;
  width: 100%;
  /* height: 100px; */
  margin: 20px 0;
  padding: 15px;
  /* text-align: end; */
  background: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.overview-icon{
  position: absolute;
  left: 15px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
}
.overview-info{
  text-align: end;
}
span{
  font: bold 24px/24px 'Roboto';
}
/* Блок notification */
.notification{
	display: flex;
	flex-wrap: wrap;
}
.notification-box{
	width: 100%;
	margin: 20px 0;
	padding: 15px;
	background: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.notification-icon{
	width: 100%;
	padding: 20px 15px;
	transform: translate(0,-35px);
}
.graphic-icon{
	width: 100%;
}
/* Блок reminder */
.reminder{
	display: flex;
	flex-wrap: wrap;
}
.reminder-box{
	width: 100%;
	margin: 20px 0;
	padding: 15px;
	background: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}
.task,
.employee{
	display: flex;
	/* justify-content:center; */
	width: 100%;
	/* height: 55px; */
	transform: translate(0,-35px);
	

}
.task-box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px 15px;
	
}
.task-btn{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.task-btn:hover{
  background: rgba(242, 128, 57, 0.862);
}
.white{
  color: white;
}
.task-img{
	margin-right: 5px;
}
.employee{
	flex-direction: column;
	gap: 3px;
  padding: 15px;
}
.employee-title{
  color: white;
  line-height: 28px;
}
.reminder-info-table{
  display: grid;
  grid-template-columns: 0.25fr 1.5fr 0.5fr 0.75fr;
  grid-template-rows: repeat(5, 1fr);
}


/* @media (min-width: 500px){
  .overview{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 650px){
  .notification{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media (min-width: 800px){
  section{
    display: grid;
    grid-template-columns: 200px 1fr;
  }
  .side-bar{
    display: block;
  }
  .burger-menu{
    display: none;
  }

} */


